<!DOCTYPE html>
<html lang="en-us" class="indexPage">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Same Page</title>

    <link rel="house icon" href="assets/images/houses.png" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="../assets/css/style2.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/animate.min.css">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav2">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#">Same Page</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#settings">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#logout">Logout</a>
                    </li>
                    <li class="list-inline-item nav-item social-buttons">
                        <a href="https://github.com/hackabull/project-2" target="_blank">
                            <i class="fab fa-github nav-link js-scroll-trigger" id="octocat"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="bg-light" id="dashboard">
        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-4 col-sm-4 dashboard-item animated fadeInDown">
                <a class="dashboard-link" href="../calendar/list-views.html">
                    <div class="dashboard-hover">
                        <div class="dashboard-hover-content">
                            <i class="far fa-calendar-alt fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../assets/images/rawpixel-579264-unsplash.jpg" alt="">
                </a>
                <div class="dashboard-caption">
                    <h4>Calendar</h4>
                    <p class="text-muted">PlaceHolder</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 dashboard-item animated fadeInRight">
                <a class="dashboard-link" href="../views/tobringlist.html">
                    <div class="dashboard-hover">
                        <div class="dashboard-hover-content">
                            <i class="far fa-list-alt fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../assets/images/rawpixel-559745-unsplash.jpg" alt="">
                </a>
                <div class="dashboard-caption">
                    <h4>To-Bring</h4>
                    <p class="text-muted">PlaceHolder</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-4 col-sm-4 dashboard-item animated fadeInLeft">
                <a class="dashboard-link" href="">
                    <div class="dashboard-hover">
                        <div class="dashboard-hover-content">
                            <i class="far fa-comments fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../assets/images/rawpixel-617391-unsplash.jpg" alt="">
                </a>
                <div class="dashboard-caption">
                    <h4>Message Board</h4>
                    <p class="text-muted">PlaceHolder</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 dashboard-item animated fadeInUp">
                <a class="dashboard-link" href="">
                    <div class="dashboard-hover">
                        <div class="dashboard-hover-content">
                            <i class="far fa-credit-card fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../assets/images/rawpixel-570907-unsplash.jpg" alt="">
                </a>
                <div class="dashboard-caption">
                    <h4>Wallet</h4>
                    <p class="text-muted">PlaceHolder</p>
                </div>
            </div>
        </div>
    </section>

    <!-- <script src="assets/js/app.js"></script> -->

</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>