body {
    height: 100%;
    background: 
        linear-gradient(
            rgba(3, 3, 3, 0.50),
            rgba(3, 3, 3, 0.50)
        ), 
        url(../images/pepi-stojanovski-509192-unsplash.jpg)
        no-repeat center center fixed;
    background-size: cover;
}

#wallet-title {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

#mainNav2 {
    background-color: #212529 !important;
    position: relative;
    padding: 0px !important;
    width: 100%;
}

#mainNav2 .navbar-brand {
    color: white;
}

#mainNav2 .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
}

#mainNav2 .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
}

.nav-item:hover {
    color: grey !important;
    transition: 0.5s;
}

.nav-link:hover {
    color: grey !important;
    transition: 0.5s;
}

@media (min-width: 992px) {
    #mainNav2 {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }
    #mainNav2 .navbar-brand {
      font-size: 1.75em;
      transition: all 0.3s;
    }
    #mainNav2 .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav2.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529;
    }
    #mainNav2.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }
}

#userImage {
    padding-right: 50px;
    
}

/* Wallet CSS */

#wallet-table {
    margin-top: 30px;
    background: 
    linear-gradient(
        rgba(3, 3, 3, 0.65),
        rgba(3, 3, 3, 0.65)
    );
    color: white;
}

#table-head {
    background: 
    linear-gradient(
        rgba(3, 3, 3, 0.50),
        rgba(3, 3, 3, 0.50)
    );
}

#add-transaction {
    margin-bottom: 30px;
}

.form-group {
    color: white;
}

