html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    section {
      padding: 150px 0;
    }
}

#mainNav2 {
    background-color: #212529 !important;
    position: relative;
    padding: 0px !important;
}

#mainNav2 .navbar-brand {
    color: white;
}

#mainNav2 .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
}

#mainNav2 .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
}

@media (min-width: 992px) {
    #mainNav2 {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }
    #mainNav2 .navbar-brand {
      font-size: 1.75em;
      /* -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s; */
      transition: all 0.3s;
    }
    #mainNav2 .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav2.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529;
    }
    #mainNav2.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }
}

header.masthead2 {
    text-align: center;
    color: black;
    /* background-color: grey; */
    /* background-image: url("../images/vadim-sherbakov-68-unsplash.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-attachment: scroll; */
    /* background-position: center center; */
    /* background-size: cover; */
}

header.masthead2 .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

header.masthead2 .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
}
  
header.masthead2 .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
}

  @media (min-width: 768px) {
    header.masthead2 .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
    }
    header.masthead2,
    .intro-text{
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      /* font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    }
    header.masthead2 .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      /* font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    }
  }

footer {
    padding: 25px 0;
    text-align: center;
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    bottom: 0;
}

ul.social-buttons {
    margin-bottom: 0 !important;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    color: white !important;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: grey;
}

#octocat {
    font-size: 17px !important;
}

#dashboard {
    margin-top: -100px;
    margin-bottom: 0;
}

#dashboard .dashboard-item .dashboard-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
  }
  
  #dashboard .dashboard-item .dashboard-link .dashboard-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  
  #dashboard .dashboard-item .dashboard-link .dashboard-hover:hover {
    opacity: 1;
  }
  
  #dashboard .dashboard-item .dashboard-link .dashboard-hover .dashboard-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
  }
  
  /* #dashboard .dashboard-item .dashboard-link .dashboard-hover .dashboard-hover-content i {
    margin-top: -12px;
  } */
  
  /* #dashboard .dashboard-item .dashboard-link .dashboard-hover .dashboard-hover-content h3,
  #dashboard .dashboard-item .dashboard-link .dashboard-hover .dashboard-hover-content h4 {
    margin: 0;
  } */
  
  #dashboard .dashboard-item .dashboard-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
  }
  
  #dashboard .dashboard-item .dashboard-caption h4 {
    margin: 0;
    text-transform: none;
  }
  
  #dashboard .dashboard-item .dashboard-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  #dashboard * {
    z-index: 2;
  }
  
  @media (min-width: 767px) {
    #dashboard .dashboard-item {
      margin: 0 0 30px;
    }
  }